@{
    ViewData["Title"] = "NFT Products";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Thanks for the purchase!</p>
    <p>You can find a history of the pictures you bought in the 'Order' section.</p>
    <a asp-area="" asp-controller="Products" asp-action="Products" asp-route-id="" class="btn btn-primary">Go back to products</a>
</div>